* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  background: #f6f6f9;
}
a {
  text-decoration: none;
}
.header .navigation {
  width: 1200px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 44px;
}
.header .navigation .namangan-logo {
  width: 320px;
  height: 40px;
  display: flex;
  margin-right: 17px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
}
.header .navigation .namangan-logo a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #295091;
  line-height: 33px;
  letter-spacing: 0em;
}
.header .navigation #currency {
  margin-right: 311px;
}
.header .navigation .search-bar {
  width: 38.1px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 21.9px;
  background: #ffffff;
  border-radius: 5px;
}
.header .navigation .language-bar {
  width: 64.76px;
  height: 40px;
  display: flex;
  margin-right: 23.24px;
  background: #ffffff;
  border-radius: 5px;
  align-items: center;
}
.header .navigation .language-bar a img {
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 11px;
}
.header .navigation .language-bar #search-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #535353;
}
.header .navigation .join-bar {
  width: 146px;
  display: flex;
  border: none;
  cursor: pointer;
  align-items: center;
  height: 40px;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.header .navigation .join-bar:hover {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
.header .navigation .join-bar  img {
  margin-left: 10px;
  margin-right: 7.31px;
}
.header .navigation .join-bar span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}
.header .section-news {
  width: 1200px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 49px auto;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
}
.header .section-news .section-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  color: #515151;
  line-height: 23px;
  transition: color 0.3s ease-in;
}
.header .section-news .section-title:hover {
  color: blue;
}
.header .section-banner-nrg {
  width: 1200px;
  margin: 18px auto;
}
.main .main-section {
  display: flex;
  width: 1200px;
  margin: 20px auto;
}
.main .main-section .card-right-section {
  width: 386px;
  height: 542px;
  background: #f6f6f9;
  margin-left: 20px;
  border-radius: 5px;
}
.main .main-section .card-section-left a img {
  padding-top: 89px;
}
.main .main-section .card-section-left .content-page-title {
  margin-top: 36px;
  padding-bottom: 20px;
  border-bottom: 3px solid #ebebeb;
}
.main
  .main-section
  .card-section-left
  .content-page-title
  .min-title-content-page {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.main .main-section .card-right-section .main-title-h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
}
.main .main-section .card-right-section .main-title-p {
  width: 347px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 11px;
  line-height: 20px;
  color: #202020;
}
.main .main-section .card-right-section .main-subtitle-time {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7688a4;
}
.main .main-section .card-right-section .section-right {
  margin: 16px 19px 18px 20px;
  padding-bottom: 14px;
  border-bottom: 4px solid #e4e4e4;
  margin-bottom: 18px;
}
.section-hashtag {
  margin-top: 18px;
}
.section-hashtag #hashtag-text {
  word-spacing: 15px;
}
#hashtag-text {
  font-family: "Rubik", sans-serif;
  color: #28508e;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.section-banner-ucell {
  margin-top: 20px;
  margin-left: 20px;
}
.section-navigation {
  width: 1200px;
  margin: 0 auto;
}
.section-navigation .navigation-flex {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}
.section-navigation .h3-txt {
  font-style: normal;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #000000;
  margin-bottom: 39px;
  margin-top: 16px;
  font-size: 20px;
  line-height: 24px;
}
.section-navigation .navigation-group .nav-item-1 .nav-h3 {
  width: 380px;
  font-family: "Rubik", sans-serif;
  color: #202020;
  font-style: normal;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}
.section-navigation .navigation-group .nav-item-1 a img {
  margin-bottom: 11px;
}
.section-navigation .navigation-group .nav-item-1 .nav-p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6b6d97;
}
.footer {
  width: 100%;
  height: 225px;
  background: #295093;
  margin-top: 54px;
}
.footer .footer-main .footer-content-page {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 4px solid #133c82;
  padding-top: 18px;
}
.footer .footer-main .footer-content-page .namangan-footer-logo {
  width: 194px;
  display: flex;
  margin-right: 198px;
  align-items: center;
  justify-content: center;
  height: 38px;
  background: #133c82;
  border-radius: 5px;
}
.footer .footer-main .footer-content-page .namangan-footer-logo a {
  font-style: normal;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
#footer-p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
  line-height: 17px;
  color: #ffffff;
}
.btn-footer {
  width: 132px;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 38px;
  border: none;
  transition: 0.5s all ease-in;
  background: #ffffff;
  border-radius: 5px;
}
.btn-footer:hover {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
.btn-footer span {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #295093;
  padding-left: 4px;
  line-height: 17px;
}
.btn-footer img {
  padding-left: 9px;
}
.footer-bottom {
  width: 1200px;
  display: flex;
  margin: 12px auto;
}
.footer-bottom .box-1 {
  width: 365px;
  margin-right: 111px;
}
.footer-bottom .box-2 {
  width: 163px;
  margin-right: 115px;
}
.footer-bottom .box-3 {
  width: 225px;
}
.footer-bottom .box-1 .bottom-p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.footer-bottom .box-2 .subtitle-p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.footer-bottom .box-3 .subtitle-p-1 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
